{% extends 'base.html.twig' %}

{% block title %}Создать новую статью{% endblock %}

{% block body %}
    <h1>Создать новую статью</h1>

    {{ include('admin/article/_form.html.twig') }}

    <a href="{{ path('app_article_index')}}" class='btn btn-secondary' >{{ 'back_to_list'|trans }}</a>
{% endblock %}
